<!-- <headless-radio-group class="flex mt-10 gap-5">
  <ng-container *ngFor="let plan of plans">
    <headlessRadioOption>
      {{ plan.name }}
    </headlessRadioOption>
  </ng-container>
</headless-radio-group> -->

<headless-radio-group (changeRadio)="onDeSelect($event)"
  class="flex flex-col w-full max-w-md mx-auto mt-10 gap-5"
  [checkedOptionIndex]="1"
>
  <headlessRadioOption (selectRadioOption)="onSelect($event)"
    *ngFor="let plan of plans"
    class="relative rounded-lg shadow-md px-5 py-4 cursor-pointer flex items-center justify-between w-full focus:outline-none bg-white
    focus:ring-2 focus:ring-offset-2 focus:ring-offset-sky-300 focus:ring-white focus:ring-opacity-60"
  >
    <div className="flex items-center">
      {{ plan.name }}
      <div>
        <span> {{ plan.ram }}/{{ plan.cpus }} </span>
        <span aria-hidden="true">&middot;</span>
        <span> {{ plan.disk }}</span>
      </div>
    </div>
    <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none">
      <circle cx="12" cy="12" r="12" fill="#fff" fill-opacity="0.2" />
      <path
        d="M7 13l3 3 7-7"
        stroke="#fff"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </headlessRadioOption>
</headless-radio-group>
