<div class="min-h-screen bg-gray-900 text-gray-100">
  <div class="max-w-7xl mx-auto">
    <headless-header></headless-header>
    <!-- <h1>Getting started</h1> -->
    <div class="h-10"></div>

    <headless-tablist>
      <headless-tab
        [id]="tab" (selectedTabIndex)="updateSelected($event)"
        [class.text-red-600]="selectedIndex === index"
        *ngFor="let tab of ['Recent', 'Popular', 'Trending', 'Not found']; let index = index"
      >
        {{ tab }}
      </headless-tab>
    </headless-tablist>
    <headless-tab-panel class="flex bg-white rounded-xl p-3" [panelTemplates]="[recent, popular, trending]">
    </headless-tab-panel>
  </div>
</div>

<ng-template #recent>
  <ng-container>
    <div class="text-green-500">recent</div>
  </ng-container>
</ng-template>
<ng-template #popular>
  <div class="text-yellow-500">popular</div>
</ng-template>
<ng-template #trending>
  <div class="text-fuchsia-700">trending</div>
</ng-template>